body {
    font-size: 16px;
}

.container {
    box-sizing: border-box;
    margin: auto;
    width: 1311px;
    
    
}

.item--show:hover .dropdown {
    display: block;
}

.menu__dropdown--show:hover {
    display: block;
}

.dropdown__dropdown-2 {
    display: none;
    position: absolute;
    right:-193px;
    top: 0px;
}

.menu__dropdown {
    display: none;
    position: absolute;
    right:570px;
    top: 72px;
}

.dropdown__item {
    background-color: #212121;
    border-bottom: 1px solid #202020;
    width: 170px;
    padding: 10px;
    color: gray;
}

.dropdown-2__item {
    background-color: #212121;
    border-bottom: 1px solid #202020;
    width: 170px;
    padding: 10px;
    color: gray;
}

.dropdown-2__item:hover {
    color: white;
}

.dropdown__item--show:hover .dropdown-2 {
    display: block;
}

.item:hover {
    cursor: pointer;
}

.dropdown__item:hover {
    color: white;
    cursor: pointer;
}

.header {
    padding: 30px 20px 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.header__bottom {
    display: flex;
    border-top: 7px solid black;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding-left: 10px; 
    padding-right: 10px;
}

.menu__item:hover {
    color:#ae3b44;
}

li {
    list-style-type: none;
    margin: 0;
}

.content {
    display: flex;
}

.banner {
    display: flex;
    border-top: 7px solid black;
    margin-left: 100px;   
    margin-right: 100px;
}

.banner__text {
    padding-top:10px;
    display: flex;
    background-color: #ae3b44;
    padding-right: 10px;
    
}

.text__left {
    font-size: 24px;
    width:25%;
    padding-left:20px;
    padding-right:10px;
    color: white;
    
}

.text__right {
    width:75%;
    padding-left: 80px;
    padding-right:10px; 
}

.nav {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    border-right: 1px solid #ececec;
}

.custom-menu__item {
    padding: 10px;
    border-bottom: 1px solid #ececec;
}

.custom-menu__item:hover {
    color: #ae3b44;
}

.custom-menu__item:first-child {
    font-weight: bold;
} 

.main {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 20px;
}

.content {
    display: flex;
    border-bottom: 1px solid #ececec;
    margin-left: 100px;
    margin-right: 100px;
}

.nav__custom-menu {
    padding-top: 30px;
    background-color: white;
    width:247px;
}

.main__title {
    padding: 20px;
    padding-top: 0px;
    padding-left:0px;
    font-size: 26px;
    border-bottom: 1px solid #ececec;
    margin-bottom:0px;
    font-weight: normal;
}

.main__about {
    padding: 20px;
    padding-top: 0xp;
    padding-left:0px;
    color: #909293;
    border-bottom: 1px solid #ececec;
    margin-bottom: 0px;
}

.main__subtitle {
    color: #ae3b44;
    padding-top:20px;
    padding-bottom: 20px;
}

.main__img {
    display: flex;
}

.main__img img {
    margin: auto;
}

.image-caption {
    color: #909293;
    text-align: center;
    margin-bottom: 20px;
}



.main__hand-picture {
    float:left;
    margin: 30px;
    border-bottom: 7px solid black;
    
}

.main__text {
    border-bottom: 1px solid #ececec;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.main__excerpt {
    border-bottom: 1px solid #ececec;
    padding-bottom: 20px;
    margin:0px;
}

.deploymentTools-2 {
    color: #ae3b44;
    margin-bottom: 20px;
    
}

.main__control {
    display:flex;
    justify-content: space-between;
    padding:20px;
}

.control__back-page {
    display: flex;
    cursor: pointer;
}

.control__next-page {
    display: flex;
    cursor: pointer;
}

.back-page__link {
    color: #ae3b44;
    margin-left: 10px;
}

.next-page__link {
    color:#ae3b44;
    margin-right: 10px;
}

.clients {
    display: flex;
    padding: 20px 120px 20px 40px;
    align-items: center;
    justify-content: space-between;
}

.footer {
    display: flex;
    background-color: #f8f8f8;
    color:#b2b2b2;
    justify-content: space-between;
    padding-right: 200px;
    border-top: 1px solid #ececec;
    padding-top: 20px;
}

.footer__section-1 {
    display: flex;
    
}

.items {
    width: 500px;
    justify-content: space-between;
}

.items__item {
    cursor: pointer;
}

.items__item:hover {
    color: #ae3b44;
}

.security__title {
    margin-bottom: 20px;
}

.section-1 {
    display: flex;
    flex-direction: column
}

.section-1__title {
    padding-left: 40px;
    font-size: 18px;

}

.items {
    display: flex;

}

.section-2__title {
    padding-left: 40px;
    font-size: 18px;

}

.section-2__item {
    cursor: pointer;
}

.section-2__item:hover {
    color:#ae3b44
}

.section-3__title {
    font-size: 18px;
    margin-bottom: 20px;

}

.section-3__info {
    font-size: 14px;
}

.network__item {
    cursor: pointer;
    opacity: 0.2;
}

.network__item:hover {
    opacity: 1;
}